.RUS-ENG {
    opacity: 0;
}

.Header {
    opacity: 0;
}

.My_Tech {
    opacity: 0;
}

.Projects_Title {
    opacity: 0;
}

.Projects {
    opacity: 0;
}

.Contacts {
    opacity: 0;
}

.Thanks {
    opacity: 0;
}