/* Critical */

body {
    font-family: sans-serif;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 1142px;
    background-color: #000000da;
    overflow-x: hidden;

}

.unselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Shadow {
    box-shadow: 5px 5px 5px rgb(175, 174, 174);
}

/* Text Block */

    .Subtitle-ex1 {
        margin-left: 50px;
        font-family: 'Inter', sans-serif;
        font-size: 36px;
    }

    .Subtitle-ex1 p {
        margin: 0;
    }

    .Title {
        margin-bottom: 30px;
    }

    .Title p {
        font-family: 'Roboto Flex';
        font-weight: 700;
        font-size: 84px;
        margin: 0px;
    }

    .Subtitle {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 36px;
    }

    .Subtitle p {
        margin: 0px;
    }

/* Language Block */
    .ENG {
        display: none;
    }

/* Main Page */

    .Page {
        margin-top: 5%;
        margin-bottom: 5%;

        width: 100%;
        height: 1750px;
        max-width: 1440px;

        background-color: #FFFBFB;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }

/* Edge Frames */

    .Left_edge {
        display: flex;
        margin-right: auto;
        margin-left: 0px;

        min-width: 50px;
        height: auto;

        background-color: #FFFBFB;
        
        z-index: 999;
    }

    .Right_edge {
        display: flex;

        margin-left: auto;
        
        min-width: 50px;
        height: auto;
        
        background-color: #FFFBFB;
        
        z-index: 999;
    }

    .Top_edge {
        display: block;
        margin-top: 0px;
        min-height: 57px;
        width: 100%;
        background-color: #FFFBFB;
        z-index: 999;
    }

    .Bottom_edge {
        display: flex;
        position: absolute;

        bottom: -1px;

        min-height: 122px;
        width: 1440px;

        background-color: #252525;

        z-index: 999;
    }

/* Colors */

    .Orange {
        background-color: #F46700;
    }

    .Light-black {
        background-color: #292929;
        color: #FFFBFB;
    }

    .Dark-gray {
        background-color: #dbdbdb;
    }

    .Gray {
        background-color: #D9D9D9;
    }

/* Head Block*/

    .RUS-ENG {
    position: absolute;
    margin-top: 28px;
    margin-left: 25px;

    font-size: 15px;
    font-family: 'Roboto Flex', monospace;
    font-weight: 100;

    width: 78px;
    height: 29px;
    background-color: #FFFBFB;
    border-color: #000000;
    border-radius: 0px;

    z-index: 999;
    }

    .Contacts_Button {
        position: absolute;

        margin-top: 90px;
        margin-left: 420px;

        width: 143px;
        height: 32px;

        font-size: 20px;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 700;

        border: 0;
        border-radius: 10px;

        background-color: #D9D9D9;

        z-index: 999;
    }

    .Header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 30%;

        margin-bottom: 20px;
    }

    .About_Me {
        display: flex;
        flex-direction: column;

        max-width: 631px;
        min-height: 355px;
        height: auto;

        padding-top: 70px;
        padding-left: 4%;
    }

    .My_Photo {
        margin-right: 0px;
        margin-top: 0px;
        transform: translate(50px,-57px);
        z-index: 100;
    }

/* Technology Block*/

    .My_Tech {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;

        width: 980px;
        min-width: 790px;
        height: auto;

        margin-left: 80px;
        margin-bottom: 20px;

        background-color:#FFFBFB;
    }



    .Tech_Button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: auto;
        height: 50px;

        border-radius: 25px;
        border: 0;

        margin: 20px;
        padding: 20px;

        font-family: 'IBM Plex Mono', monospace;
        font-weight: 700;
        font-size: 28px;
    }

    .Free_Space {
        width: 4%;
    }

/* Projects Block */

    .Projects_Title {

        font-family: 'Roboto Flex', monospace;
        font-weight: 700;
        font-size: 36px;

        margin-left: 160px;
        padding-bottom: 30px;
    }

    .Projects {
        display: flex;
        flex-flow: row wrap;

        position: relative;

        margin-left: 50px;
        margin-bottom: 50px;

        width: 90%;
    }

        /* Каждый отдельный проект */

        .Project {
            width: 210px;
            height: 210px;

            margin-left: 45px;

            position: relative;
        }

        .Project_Number {
            position: absolute;
            bottom: 0;
            right: 0;

            width: 50px;
            height: 50px;

            font-family: 'Roboto Flex', monospace;
            font-weight: 700;
            font-size: 36px;
            text-align: center;

            color:#D9D9D9;

            border: solid;
            border-radius: 10px;

            background-color: #292929;
        }

        .Projects_Image {
            width: 180px;
            height: 180px;
        }
        
        .Projects_Button {
            width: 190px;
            height:190px;

            position: absolute;

            border: 0;
            border-radius: 10px;

            /* !!! */
            display: flex;
            align-items: center;
            justify-content:flex-start;

            font-family: 'Roboto Flex', monospace;
            font-weight: 700;
            font-size: 24px;
        }

        .Two {
            margin-top: 70px;
        }

        .Three {
            margin-top: 140px;
        }

        .Four {
            margin-top: 210px;
        }

        .Five {
            margin-top: 280px;
        }

        .Projects_Button_Title {
            margin-top: 200px;

            font-family: 'Roboto Flex', monospace;
            font-weight: 700;
            font-size: 19px;
            margin-left: 10px;
        }

/* Footer Banners */

    /* Contacts */
    .Contacts {
        display: flex;
        flex-direction: column;
        position: absolute;

        width: 362px;
        height: 114px;

        bottom: 0px;
        right: 90px;

        border-radius: 15px;

        background-color:#D9D9D9;

        transform: translate(0px, 0px);
        z-index: 100; 

        opacity: 1;
    }

    .Social_Links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        align-items: center;
        padding: 10px;
    }

    .My_Telegram {
        width: 50px;
        height: 37px;
    }

    .My_VK {
        width: 47px;
        height: 31px;
    }

    .My_Twitter {
        width: 43px;
        height: 37px;
    }

    .Phone_Number {
        display: flex;
        justify-content: center;

        font-family: 'Spinnaker', sans-serif;
        font-weight: 400;
        font-size: 20px;
    }

    .My_Phone {
        width: 30px;
        height: 30px;
    }

    /* Thanks */

    .Thanks {
        position: absolute;

        bottom: 0px;
        margin-bottom: 150px;
        margin-left: 50px;
        
        width: 520px;
        height: 80px;

        z-index: 999;
    }

    .Thanks_Button {
        position:relative;

        width: 190px;
        height: 22px;

        margin-top: 27px;
        margin-left: 50px;

        font-family: 'Roboto Flex', monospace;
        font-weight: 100;
        font-size: 16px;

        background-color: #FFFBFB;
        border-color: #000000;
        border-radius: 0px;

        z-index: 999;
    }

    .Thanks_Banner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;

        width: 506px;
        height: 72px;

        padding-left: 10px;
        transform: translateY(-45px);

        border-radius: 15px;

        background-color:#D9D9D9;

        font-family: 'Spinnaker', sans-serif;
        font-weight: 400;
        font-size: 16px;

        opacity: 0;

        z-index: 100;
    }

    .Indent {
        margin-right: 15px;
    }

    .Tanya {
        padding-left: 23px
    }

/* Adaptive */
    @media screen and (max-width: 1100px) {
        .My_Tech {
          width: 80%;
        }
    }

    @media screen and (max-width: 1416px) {
        .Page {
            height: 2100px
        }

        .Five {
            margin-top: 0;
        }

        .Contacts {
            left: calc(100vw - 30%)
        }
    }

    @media screen and (max-width: 1142px) {
        .Contacts {
            left: 49%;
        }
    }

    @media screen and (max-width: 1082px) {
        .Page {
            overflow-x: auto; /* Разобраться */
        }
    }